<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 맵핑될 DAO 인터페이스의 Full name 을 줍니다. -->
<mapper namespace="com.farm.web.dao.OrderItemDao3">
	<!-- id 속성은 DAO 의 메소드와 같아야 한다. -->
	<select id="getList"  parameterType="com.farm.web.dto.OrderItemDto" resultType="com.farm.web.entity.OrderItemView">
		SELECT 
	         oi.id AS id
	       , oi.orderId AS orderId
	       , oi.itemId AS itemId
	       , oi.deliveryId AS deliveryId
	       , oi.qty AS qty
	       , oi.status AS oiStatus
	       , m.uid AS mUid
	       , m.name AS mName
	       , i.name AS iName
	       , i.regName AS iRegName
	       , i.sellerId AS iSellerId
	       , i.price AS iPrice
	       , i.image AS iImage
	       , o.regDate AS oRegDate
	       , o.destination AS oDes
	       , o.dueDate AS oDueDate
	       , o.cfDate AS oCfDate
	       , o.memo AS oMemo
	       , o.payMethod AS oPayMethod
	       , d.comId AS dComId
	       , d.name AS dName
	    FROM orderitem AS oi
	    INNER JOIN `order` AS o 
	    	ON oi.orderId = o.id
	    INNER JOIN `member` AS m 
	    	ON m.id = o.memberId
	    INNER JOIN item AS i 
	    	ON oi.itemId = i.id
	   	LEFT JOIN delivery AS d 
	   		ON d.id = oi.deliveryId
		WHERE i.sellerId = #{id}
			AND oi.status = #{status} 
			AND #{field} LIKE '%${query}%'
		ORDER BY o.regDate DESC
		LIMIT #{size} OFFSET #{offset}
	</select>
	
	<select id="getListAll"  parameterType="com.farm.web.dto.OrderItemDto" resultType="com.farm.web.entity.OrderItemView">
		SELECT 
	         oi.id AS id
	       , oi.orderId AS orderId
	       , oi.itemId AS itemId
	       , oi.deliveryId AS deliveryId
	       , oi.qty AS qty
	       , oi.status AS oiStatus
	       , m.uid AS mUid
	       , m.name AS mName
	       , i.name AS iName
	       , i.regName AS iRegName
	       , i.sellerId AS iSellerId
	       , i.price AS iPrice
	       , i.image AS iImage
	       , o.regDate AS oRegDate
	       , o.destination AS oDes
	       , o.dueDate AS oDueDate
	       , o.cfDate AS oCfDate
	       , o.memo AS oMemo
	       , o.payMethod AS oPayMethod
	       , d.comId AS dComId
	       , d.name AS dName
	    FROM orderitem AS oi
	    INNER JOIN `order` AS o 
	    	ON oi.orderId = o.id
	    INNER JOIN `member` AS m 
	    	ON m.id = o.memberId
	    INNER JOIN item AS i 
	    	ON oi.itemId = i.id
	   	LEFT JOIN delivery AS d 
	   		ON d.id = oi.deliveryId
		WHERE i.sellerId = #{id}
			AND #{field} LIKE '%${query}%'
		ORDER BY o.regDate DESC
		LIMIT #{size} OFFSET #{offset}
	</select>
	
	
	
	<select id="getView" parameterType="int" resultType="com.farm.web.entity.OrderItemView">
		SELECT
	         oi.id AS id
	       , oi.orderId AS orderId
	       , oi.itemId AS itemId
	       , oi.deliveryId AS deliveryId
	       , oi.qty AS qty
	       , oi.status AS oiStatus
	       , m.uid AS mUid
	       , m.name AS mName
	       , i.name AS iName
	       , i.regName AS iRegName
	       , i.sellerId AS iSellerId
	       , i.price AS iPrice
	       , i.image AS iImage
	       , o.regDate AS oRegDate
	       , o.destination AS oDes
	       , o.dueDate AS oDueDate
	       , o.cfDate AS oCfDate
	       , o.memo AS oMemo
	       , o.payMethod AS oPayMethod
	       , d.comId AS dComId
	       , d.name AS dName
		 FROM orderitem AS oi
	     INNER JOIN `order` AS o 
	     	ON oi.orderId = o.id
	     INNER JOIN `member` AS m 
	     	ON m.id = o.memberId
	     INNER JOIN item AS i 
	     	ON oi.itemId = i.id
	     LEFT JOIN delivery AS d 
	     	ON d.id = oi.deliveryId
		 WHERE oi.id=#{id}
	</select>
	
	<select id="getOrderItem" parameterType="int" resultType="com.farm.web.entity.OrderItem">
		SELECT 
			  id
			, orderId
			, itemId
			, qty
			, deliveryId
			, waybillNum
			, status
		FROM orderitem
		WHERE id = #{id}
	
	</select>
	
	<update id="updateWaybillNum" parameterType="com.farm.web.dto.WaybillNum">
		UPDATE orderitem 
		SET deliveryId= #{deliveryId}, status=3, waybillNum=#{waybillNum} 
		WHERE id=#{dtlNum}
	</update>
	
	
	<update id="updatePayCDate" parameterType="hashmap">
		UPDATE orderitem 
		SET status=2
		WHERE id=#{id}
	</update>
	
	<select id="getTotalCount" parameterType="int" resultType="int">
		SELECT COUNT(*) 
		FROM orderitem oi JOIN item i 
		ON oi.itemId = i.id
		WHERE i.sellerId = #{id};
	</select>
	
</mapper>